.commands {
	bottom: 5vh;
	left: 10vw;
	position: fixed;
	height: 20vh;
	width: 80vw;
	min-width: 250px;
	border: 2px dashed green;
	text-align: center;
}

.command {
	margin: 2%;
	display: inline-block;
}

.shape {
	cursor: pointer;
	color: white;
}
.shape:hover {
	color: yellow;
}
