.feedback {
	top: 5vh;
	left: 10vw;
	position: fixed;
	height: 65vh;
	width: 40vw;
	min-width: 130px;
	border: 2px dashed pink;
}

#tracePositionner {
	position: relative;
	height: 100%;
}

.tracetip {
	color: blue;
	cursor: pointer;
	float: right;
	top: 50%;
}

.valence {
	margin-left: 2vw;
	font-size: 150%;
}

.score {
	width: 30%; /* I don't know why it doesn't work when greater than 37%... */
	height: 30%;
	border: 2px dashed blue;
	float: left;
	margin-right: 10%;
	margin-top: 35%;
	display: inline;
}

.traceContainer {
	max-height: 100%;
	bottom: 0;
	position: absolute;
	width: 50%;
	border: 2px dashed red;
	overflow-y: scroll;
	margin: 0px;
	display: inline-block;
}
.traceContainer > div {
	display: block;
	text-align: center;
}

.obsel {
	cursor: pointer;
	font-size: 23px;
}
