.feedback {
	top: 5vh;
	left: 12vw;
	position: fixed;
	height: 55vh;
	width: 25vw;
	border: 2px dashed pink;
}

.valence {
	margin-left: 2vw;
	font-size: 150%;
}

.score {
	width: 30%; /* I don't know why it doesn't work when greater than 37%... */
	height: 30%;
	border: 2px dashed blue;
	float: left;
	margin-right: 10%;
	margin-top: 35%;
	display: inline;
}

.traceContainer {
	height: 100%;
	width: 50%;
	border: 2px dashed red;
	overflow-y: scroll;
	margin: 0px;
	display: inline-block;
}
.traceContainer > div {
	display: block;
	text-align: center;
}

/* ie, the canvas */
#trace {
	border: 1px solid red;
}

.obsel {
	cursor: pointer;
}
