.feedback {
	top: 5vh;
	left: 10vw;
	position: fixed;
	height: 65vh;
	width: 40vw;
	min-width: 130px;
	/*border: 2px dashed pink;*/
}

#tracePositionner {
	position: relative;
	height: 100%;
	float: right;
	width: 50%;
}

.tracetip {
	color: blue;
	cursor: pointer;
	float: right;
	top: 50%;
}

.valence {
	margin-left: 2vw;
	font-size: 150%;
}

.score {
	/*width: 30%; /* I don't know why it doesn't work when greater than 37%... */
	float: left;
	background-color: #fff;
	border-radius: 0.5em;
	padding: 0.5em;
	/*border: 2px dashed blue;*/
	margin-right: 10%;
	margin-top: 35%;
	display: inline;

	font-size: 130%;
	font-weight: bold;
	min-width: 8vw;
}

.finished {
	background-color: green;
}

.alreadyFinished {
	background-color: lightgreen;
}

.traceContainer {
	max-height: 100%;
	width: 100%;
	bottom: 0;
	position: absolute;
	/*border: 2px dashed red;*/
	overflow-y: scroll;
	margin: 0px;
	display: inline-block;
}
.traceContainer > .interactionResult {
	display: block;
	text-align: center;
	filter: opacity(50%);
}
.traceContainer > .interactionResult:nth-last-child(-n+10) {
	filter: none;
}
.traceContainer > .interactionResult:nth-last-child(10) {
	border-top: 2px solid #333;
}

.obsel {
	cursor: pointer;
	font-size: 23px;
}

.interactionResult {
	animation-name: popin;
	animation-duration: 1s ;
	animation-iteration-count: 1;
	animation-direction: alternate;
}

@keyframes popin {
    0%  { background-color: yellow; }
	50% { background-color: yellow; }
    100% { background-color: inherit; }
}
