#infoPanel {
	top: 10vh;
	right: 5vh;
	position: fixed;
	height: 40vh;
	width: 45vw;
	/*border: 2px dashed yellow;*/
	border-radius: 0.5em;
	background-color: white;
	padding: 0.5em;
	transition: 0.3s;
	z-index: 1;

	display: none;
}

#infoPanel .header {
	color: yellow;
	margin-bottom: 1em;
}

#infoPanel .header .close {
	float: right;
	cursor: pointer;
}

#infoPanel .content {
	height: 85%;
	overflow-y: auto;
	overflow-x: hidden;
}
#infoPanel #replayModeContent {
	overflow: hidden;
}

#levelOptions {
	position: fixed;
	bottom: 30vh;
	right: 15vw;
	width: 10vw;
}

#levelOptions * {
	cursor: pointer;
}
