body {
	background-color: #777;
}

.white { color: white; }
.green { color: green; }
.red { color: red; }
.blue { color: blue; }
.orange { color: orange; }

.center {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
